<h1>Todo編集</h1>

<% if @todo.errors.any? %>
  <div class="error-messages"></div>
  <h2><%= @todo.errors.count %>件のエラーがあります</h2>
  <ul>
    <% @todo.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @todo, local: true) do |f| %>

  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <br>
  <div>
    <%= f.label :description, "説明" %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.submit "更新" %>
  </div>

<% end %>

<%= link_to "一覧に戻る", todos_path %>