<h1>Todo一覧</h1>

<div>
  <button id="js_button">クリックしてね</button>
  <p id="js_text" style="display: none;">こんにちは！</p>
</div>

<div class="todos">
  <% @todos.each do |todo| %>
    <div class="todo">
      <h2><%= todo.title %></h2>
      <p><%= todo.description %></p>
      <p>
        状態：<%= todo.completed ? "完了" : "未完了" %>
      </p>
      <%= link_to "編集", edit_todo_path(todo) %>
    </div>
  <% end %>
</div>

<%= link_to "新規作成", new_todo_path %>

<script>
  document.addEventListener(DOMContentLoaded, () => {
    const button = document.getElementById("js_button")
    const text = document.getElementById("js_text")

    button.addEventListener("click", () => {
      text.style.display = text.style.display === "none" ? "block" : "none";
    })
  })
</script>