<h1>新規Todo作成</h1>

<%= form_with(model: @todo, local: true) do |f| %>
  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, "説明" %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.submit "作成" %>
  </div>

<% end %>

<%= link_to "一覧に戻る", todos_path %>